<div class="school-activity-page">

	<div class="list-head flex-common">
		<div>活动名称</div>
		<div>项目</div>
		<div>时间</div>
		<div>结果</div>
	</div>

	<div class="active-list">

		<div class="active-item flex-common">
			<div>2018  ZUEL  浙江省高校电竞联赛春季赛</div>
			<div>绝地求生(团)绝地求生(团)绝地求生(团)</div>
			<div>2018-08-24</div>
			<div><img src="../../../../asset/images/personal/champion.png" alt=""></div>
		</div>

		<div class="active-item flex-common">
			<div>2018  ZUEL  浙江省高校电竞联赛春季赛</div>
			<div>绝地求生(团)绝地求生(团)绝地求生(团)</div>
			<div>2018-08-24</div>
			<div><img src="../../../../asset/images/personal/second.png" alt=""></div>
		</div>

		<div class="active-item flex-common">
			<div>2018  ZUEL  浙江省高校电竞联赛春季赛</div>
			<div>绝地求生(团)绝地求生(团)绝地求生(团)</div>
			<div>2018-08-24</div>
			<div><img src="../../../../asset/images/personal/third.png" alt=""></div>
		</div>

		<div class="active-item flex-common">
			<div>2018  ZUEL  浙江省高校电竞联赛春季赛</div>
			<div>绝地求生(团)绝地求生(团)绝地求生(团)</div>
			<div>2018-08-24</div>
			<div>第 4 名</div>
		</div>

		<div class="active-item flex-common">
			<div>2018  ZUEL  浙江省高校电竞联赛春季赛</div>
			<div>绝地求生(团)绝地求生(团)绝地求生(团)</div>
			<div>2018-08-24</div>
			<div>第 5 名</div>
		</div>

		<div class="active-item flex-common">
			<div>2018  ZUEL  浙江省高校电竞联赛春季赛</div>
			<div>绝地求生(团)绝地求生(团)绝地求生(团)</div>
			<div>2018-08-24</div>
			<div>第 6 名</div>
		</div>

		<div class="active-item flex-common">
			<div>2018  ZUEL  浙江省高校电竞联赛春季赛</div>
			<div>绝地求生(团)绝地求生(团)绝地求生(团)</div>
			<div>2018-08-24</div>
			<div>第 7 名</div>
		</div>

	</div>

</div>