<div class="live-page">

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

	<a href="#/live-details">
		<div class="liveItem">
			<img src="../../../../asset/images/games/DJ_KT16.png" alt="">
			<div>
				<p class="title">解构FPS游戏，进阶</p>
				<span class="info">【直播】解构教程，游戏进阶（09-20 08:45）</span>
				<div class="name">青阳老师</div>
			</div>
		</div>
	</a>

</div>