@import "../../asset/common";

.login-page{
    padding: rem(10);
}
.login-page h1{
    height: rem(50);
    background-color:#00c36a;
    text-align: center;
    line-height: rem(50);
    font-size: rem(30);
}
.login-page .btn-module{
    margin-top: rem(100);
    text-align: center;
}