@import "../../asset/common";

.login-page{
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    overflow-x:hidden;
    overflow-y: scroll;
    z-index:1002;
}
.login-page h1{
    height: rem(50);
    background-color:#00c36a;
    text-align: center;
    line-height: rem(50);
    font-size: rem(30);
}
.login-page .btn-module{
    margin-top: rem(100);
    text-align: center;
}