@import "../../asset/common";
$themeYellow: #ffaf00;
$themeGray: #252525;
$themeBlack: #141414;
.games{
  .game-header{
    overflow: hidden;
    height: rem(60);
    padding: rem(3) rem(30) 0 rem(30);
    background: $themeGray;
    .game-header-item{
      float: left;
      position: relative;
      width: 25%;
      line-height: rem(61);
      font-size: rem(30);
      text-align: center;
      color: #93908b;
      border-top-left-radius: rem(1);
      border-top-right-radius: rem(1);
      &.active{
        color: $themeYellow;
        background: $themeBlack;
        .header-top{
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: rem(6);
          background: $themeYellow;
        }
      }
    }
  }
  .item-container{

  }
}