@import "../../asset/common";

.dynamicDetails-layout{
    min-height:100%;
    background-color:#f1ede8;
    padding:rem(16) rem(10) rem(88);
    @include box-sizing;
    .comment-layout{
        margin-top:rem(12);
    }
}