@import "../../../../asset/common";

.videos-page{
    padding: rem(30) rem(10) 0;

    .videos-item{
        background: #ffffff;
        border: 1px solid #e3e0db;
        border-radius: rem(10);
        padding-top: rem(17);
        margin-bottom: rem(12);
        position: relative;

        >.videos-item-image {
            img {
                width: 100%;
            }

            &:after {
                content: '';
                display: inline-block;
                background: url('../../../../asset/images/matches/playBtn.png') no-repeat center;
                background-size: rem(92) rem(92);
                width: rem(92);
                height: rem(92);
                position: absolute;
                top: rem(145);
                left:rem(320);
            }

        }

        >.videos-item-info{
            padding: rem(20) rem(25);
            span:first-child{
                font-size: rem(30);
                color: #050100;
                vertical-align: text-bottom;
            }
            span:last-child{
                font-size: rem(24);
                color: #625b51;
                vertical-align: text-bottom;
            }
        }

    }
}