<div class="videos-page">

	{{each videoList item i}}
		<div class="videos-item">
			<div class="videos-item-image">
				<video
				id="my-player-{{i}}"
				class="video-js vjs-default-skin vjs-fluid  vjs-big-play-centered"
				controls 
				preload="none" 
				playsinline
				poster="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg=="
				style="background: transparent url({{item.DefaultImageUrl}}) no-repeat 0 0;background-size:cover;">
					<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
				</video>				
			</div>
			<div class="videos-item-info js-handle" data-handle="beforePlay">
				<span>{{item.SchoolName}}&nbsp;</span>
				<span>{{item.PublishName}}</span>
			</div>
		</div>
	{{/each}}

	{{each videoList item i}}
		<div class="videos-item">
			<div class="videos-item-image">
				<video
				id="my-player-{{i}}"
				class="video-js vjs-default-skin vjs-fluid  vjs-big-play-centered"
				controls 
				preload="none" 
				playsinline
				poster="data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVQImWNgYGBgAAAABQABh6FO1AAAAABJRU5ErkJggg=="
				style="background: transparent url({{item.DefaultImageUrl}}) no-repeat 0 0;background-size:cover;">
					<source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4"></source>
				</video>				
			</div>
			<div class="videos-item-info js-handle" data-handle="beforePlay">
				<span>{{item.SchoolName}}&nbsp;</span>
				<span>{{item.PublishName}}</span>
			</div>
		</div>
	{{/each}}

	<div class="videos-modal-mask js-handle" data-handle="closeMask">
		<div class="modal-content">
			<div class="title">请输入合作学校授权码</div>
			<input type="text" class="codeInput">
			<div class="operator">
				<button class="js-handle" data-handle="closeMask">取消</button>
				<button>确定</button>
			</div>
		</div>
	</div>

	{{if videoList.length <= 0}}
		<div>暂无数据-。-</div>
	{{/if}}
</div>