@import "common";
@import "./icon_font/iconfont.css";
/**css reset*/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td{ margin: 0; padding: 0; }
body, button, input, select, textarea { font-family: "Helvetica neue", sans-serif,Arial, "Hiragino Sans GB", "Microsoft Yahei", "WenQuanYi Micro Hei"}
pre { white-space: pre-wrap; /* css-3 */ white-space: -moz-pre-wrap; /* Mozilla, since 1999 */ white-space: -pre-wrap; /* Opera 4-6 */ white-space: -o-pre-wrap; /* Opera 7 */ word-wrap: break-word; /* Internet Explorer 5.5+ */ }
input, button, select, textarea { outline: none;-webkit-appearance:none;-webkit-tap-highlight-color: rgba(0, 0, 0, 0);}
h1, h2, h3, h4, h5, h6 {font-size: 100%; }
i,em{ font-style: normal; }
a { text-decoration: none; background:transparent;-webkit-tap-highlight-color: transparent;}
a:focus { outline: none; }
.main a:hover { text-decoration: underline; }
a span, a img { cursor: pointer; }
fieldset, img { border: 0; }
ul.nolist,ul { list-style: none; }
ul.nolist li,ul li { list-style: none; }
img{vertical-align: middle;}
*{-webkit-overflow-scrolling : touch;}
*:not(input,textarea) {
  -webkit-touch-callout:none;
  -webkit-user-select:none;
  -khtml-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

/*浮动*/
.fl { float:left; }
.fr { float:right; }

/*清除浮动*/
.clearFix:before, .clearFix:after { display: table; content: ""; }
.clearFix:after { clear: both; }
.clearFix { *zoom: 1; }

/*图标字体基础大小*/
.iconfont{
  font-size: 1rem;
}

/*初始化一系列样式(图片，warning，error，danger，normal，button)*/
.warning{
  color: #ff731f;
  font-weight: bold;
}
.price{
  color: #e8e8e8;//**
}
.danger{
  color: red;
}
.normal{
  color: #535353;
}
.green{
  color:#00c36a;
}
.btn {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 0;
  height:rem(98);
  font-size: rem(34);
  font-weight: normal;
  text-align: center;
  line-height: 1;
  cursor: pointer;
  border: none;
  border-radius: rem(10);
  white-space: nowrap;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color:#6c8ebe;
  color:#fff;
}
.btn[disabled]{
  background: #f8f8f8;
  border: 1px solid #bbb;
  color: #333;
}
.btn-danger {
  color: #fff;
  border-color: $baseColor;
  background-color: $baseColor;
}
.scroll-loading{
  padding: rem(10);
  font-size: rem(24);
  text-align: center;
  height: rem(130);
  .loading-span{
    img{
      display: block;
      margin: 0 auto;
      width: rem(80);
      height: rem(80);
    }
  }
  .loading-state{
    display: block;
    height: 100%;
  }
}