<div id="header-all">
    <div class="hot-recommend" class="clearFix">
        <div class="hot-title">
            <span>热门推荐:</span>
        </div>
        <div class="hot-list">
            <div class="hot-list-item active"><span>中超竞猜</span></div>
            <div class="hot-list-item"><span>王者荣耀</span></div>
            <div class="hot-list-item"><span>疯狂体育</span></div>
            <div class="hot-list-item"><span>中超竞猜</span></div>
            <div class="hot-list-item"><span>飞车</span></div>
            <div class="hot-list-item"><span>中超竞猜</span></div>
            <div class="hot-list-item"><span>猎人</span></div>
            <div class="hot-list-item"><span>中超竞猜</span></div>
        </div>
    </div>
    <div class="sort">排序</div>
    <div class="container-list">
        list
    </div>
</div>