@import "../../../../asset/common";

$themeBlack: #141414;
$hotColor: #585757;
$themeYellow: #ffaf00;
$defaultBorder: rem(1) solid #cec9c3;
$activeBorder: rem(1) solid #ef9000;
#header-all{
  .hot-recommend{
    background: $themeBlack;
    padding-top: rem(16);
    .hot-title{
      float: left;
      margin: 0 rem(18) 0 rem(25);
      color: $hotColor;
      font-size: rem(30);
      height: rem(100);
      line-height: rem(50);
      text-align: center;
    }
    .hot-list{
      font-size: rem(30);
      color: $hotColor;
      .hot-list-item{
        display: inline-block;
        width: rem(120);
        height: rem(50);
        line-height: rem(50);
        text-align: center;
        margin-bottom: rem(4);
        color: $hotColor;
        font-size: rem(24);
        border: rem(2) solid $themeBlack;
        &.active{
          color: $themeYellow;
          border: rem(2) solid $themeYellow;
          border-radius: rem(15);
        }
      }
    }
  }
  .sort{
    >div{
      display: inline-block;
      border-radius: rem(15);
      height: rem(50);
      line-height: rem(50);
    }
    .sort-border{
      padding: 0 rem(12);
      font-size: rem(24);
      color: #93908b;
      text-align: center;
      border: $defaultBorder;
      background: #cec9c3;
      &.active{
        color: #fff;
        border: $activeBorder;
        background: $themeYellow;
      }
    }
    .account-safe-btn{
      div{
        background: red;
      }
      color: #259cf6;
      border: $defaultBorder;
    }
    .auto-transport-btn{
      color: #252525;
      border: $defaultBorder;
    }
  }
}