<div id="header-all">
    <div class="hot-recommend clearFix">
        <div class="hot-title">
            <span>热门推荐:</span>
        </div>
        <div class="hot-list">
            <div class="hot-list-item active"><span>中超竞猜</span></div>
            <div class="hot-list-item active"><span>王者荣耀</span></div>
            <div class="hot-list-item"><span>疯狂体育</span></div>
            <div class="hot-list-item"><span>中超竞猜</span></div>
            <div class="hot-list-item"><span>飞车</span></div>
            <div class="hot-list-item active"><span>中超竞猜</span></div>
            <div class="hot-list-item active"><span>猎人</span></div>
            <div class="hot-list-item"><span>中超竞猜</span></div>
        </div>
    </div>
    <div class="sort">
        <div class="sort-border active">综合排序</div>
        <div class="sort-border">价格最低</div>
        <div class="sort-border">出租最多</div>
        <div class="account-safe-btn">
            <div></div>
            <span>账号安全有保障</span>
        </div>
        <div class="auto-transport-btn">自动发货</div>
    </div>
    <div class="container-list">
        <div class="components-item">
            <div><img /></div>
            <div>
                <div>绝地求生账号出租</div>
                <div>稳定不挤号, 楚霸王</div>
                <div>
                    ￥<sapn>999.00</sapn>
                </div>
            </div>
            <div>
                <button>立即使用</button>
            </div>
        </div>
    </div>
</div>