@import "../../asset/common";

.match-details-page{
  width: 100%;
  height: 100%;
  position: relative;

  >img{
    width: 100%;
    height: 100%;
  }
  
  .detailsInfo{
    width: 100%;
    height: rem(510);
    position: absolute;
    bottom: 0;
    background: url('../../asset/images/matches/bgBar.png') repeat-x;
    background-size: rem(32) rem(510);
    display: flex;
    align-items: center;
    justify-content: center;

    >div{
      text-align: center;
      >div:nth-child(1){
        font-size: rem(48);
        color: #050100;
        line-height: rem(100);
      }
      >div:nth-child(2){
        font-size: rem(36);
        color: #050100;
        line-height: rem(70);
      }
      >div:nth-child(3){
        font-size: rem(36);
        color: #625b51;
      }
    }

  }
    
}