<div class="personal-classes-page">

	<div class="list-head flex-common">
		<div>创建时间 2018-09-09 15:00</div>
		<div>状态</div>
		<div>操作</div>
	</div>

	<div class="classes-list">

		<div class="classes-item flex-common">
			<div>
				<img class="classes-image" src="../../../../asset/images/games/DJ_KT16.png" alt="">
				<div class="classes-info">
					<p>2018 夏季针对性训练实战班</p>
					<div>￥286.00</div>
				</div>
			</div>
			<div>待上课</div>
			<div>评价课程</div>
		</div>

		<div class="classes-item flex-common">
			<div>
				<img class="classes-image" src="../../../../asset/images/games/DJ_KT16.png" alt="">
				<div class="classes-info">
					<p>2018 夏季针对性训练实战班</p>
					<div>￥286.00</div>
				</div>
			</div>
			<div>待上课</div>
			<div>评价课程</div>
		</div>

		<div class="classes-item flex-common">
			<div>
				<img class="classes-image" src="../../../../asset/images/games/DJ_KT16.png" alt="">
				<div class="classes-info">
					<p>2018 夏季针对性训练实战班</p>
					<div>￥286.00</div>
				</div>
			</div>
			<div>待上课</div>
			<div>评价课程</div>
		</div>

		<div class="classes-item flex-common">
			<div>
				<img class="classes-image" src="../../../../asset/images/games/DJ_KT16.png" alt="">
				<div class="classes-info">
					<p>2018 夏季针对性训练实战班</p>
					<div>￥286.00</div>
				</div>
			</div>
			<div>待上课</div>
			<div>评价课程</div>
		</div>

		<div class="classes-item flex-common">
			<div>
				<img class="classes-image" src="../../../../asset/images/games/DJ_KT16.png" alt="">
				<div class="classes-info">
					<p>2018 夏季针对性训练实战班</p>
					<div>￥286.00</div>
				</div>
			</div>
			<div>待上课</div>
			<div>评价课程</div>
		</div>

		<div class="classes-item flex-common">
			<div>
				<img class="classes-image" src="../../../../asset/images/games/DJ_KT16.png" alt="">
				<div class="classes-info">
					<p>2018 夏季针对性训练实战班</p>
					<div>￥286.00</div>
				</div>
			</div>
			<div>待上课</div>
			<div>评价课程</div>
		</div>

	</div>

</div>