@import "../../asset/common";

.inviting-create-order-page{
    background: #fff;
    border: 1px solid #e3e0db;
    border-radius: rem(12);
    margin: rem(15) rem(10);
    padding: rem(5) rem(20) 0;

    .inviting-info{
        padding: rem(15);
        display: flex;
        align-items: center;
        justify-content: center;
        >img{
            width: rem(200);
            height: rem(200);
            flex: 1;
        }
        >div{
            font-size: rem(24);
            color: #050100;
            line-height: rem(38);
            padding-left: rem(35);
            flex: 2;
            text-align: center;
        }
    }

    .price-info{
        border-top: 1px solid #d9d8d4;
        border-bottom: 1px solid #d9d8d4;
        font-size: rem(30);
        color: #050100;
        padding: rem(20) rem(20) rem(65);

        >div{
            line-height: rem(80);
            >div{
                float: right;
            }
        }

        .grayText{
            color: #625b51;
        }

        .single-price{
            font-size: rem(36);
            color: #ffaf00;
        }

        .hours{
            >span{
                vertical-align: middle;
            }
            >div{

                >span{
                    display: inline-block;
                    vertical-align: middle;
                }

                >span:nth-child(1){
                    background: url('../../asset/images/games/less.png') no-repeat center;
                    width: rem(53);
                    height: rem(58);
                    background-size: rem(53) rem(58);
                }

                >span:nth-child(2){
                    width: rem(135);
                    height: rem(58);
                    line-height: rem(58);
                    text-align: center;
                    background: #eeedeb;
                    border-top: 1px solid #cec9c3;
                    border-bottom: 1px solid #cec9c3;
                    box-sizing: border-box;
                }

                >span:nth-child(3){
                    background: url('../../asset/images/games/plus.png') no-repeat center;
                    width: rem(52);
                    height: rem(58);
                    background-size: rem(52) rem(58);
                    margin-right: rem(25);
                }

            }
        }
        .star{
            width: rem(30);
            height: rem(30);
            margin: rem(-5) 0 0 rem(10);
            vertical-align: middle;
        }
        input{
            height: rem(58);
            background: #eeedeb;
            color: #625b51;
            border: 1px solid #cec9c3;
            border-radius: rem(12);
            text-align: right;
            font-size: rem(24);
            padding: 0 rem(10) 0 rem(15);
        }
        
        .QQNum{
            width: rem(380);
        }
        .telNum{
            width: rem(155);
        }

    }

    .submitBtn{
        font-size: rem(30);
        color: #fff;
        width: rem(340);
        height: rem(65);
        line-height: rem(65);
        text-align: center;
        background: #ffaf00;
        margin: rem(80) auto rem(90);
        border-radius: rem(65);
    }

}